<%= form_tag "#",style: 'padding: 150px' do %>

  <% @question_sets.each_with_index do |qs,index| %>
    <div id="qs_<%= index %>" style="display: none" class="questions">
      <p>
        <%= qs.question.title %>
      </p>
      <p>
        <% qs.question.answers.each do |ans| %>
          <%= radio_button_tag "answers_#{index}", "#{qs.id}-#{ans.id}", checked: false %>
          <%= ans.description.html_safe %><br/>
        <% end %>
      </p>
      <%= button_tag 'Next',onclick: "next_question(#{index + 1}); return false" %>
    </div>
  <% end %>
<% end %>

<script>
     $("#qs_0").show();
     function next_question(index){
       if(index == 10){
         window.close();
         window.location.replace('/');
       }
       $(".questions").hide();
       $("#qs_"+index).show();
       var rad_index = index - 1
       var answer = document.getElementsByName("answers_"+rad_index)[0].value
       $.ajax({
         url: '/update-answer',
         method: 'POST',
         beforeSend: function (xhr) {
             xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
         },
         data: {answer: answer},
         success: function (data) {
         }
       })

     }

</script>