<span id="s_timer"></span><br/>
<%= form_tag "#",style: 'padding: 150px' do %>

  <% @question_sets.each_with_index do |qs,index| %>
    <div id="qs_<%= index %>" style="display: none" class="questions">
      <p>
        <%= qs.question.title %>
      </p>
      <p>
        <% qs.question.answers.each do |ans| %>
          <%= radio_button_tag "answers_#{index}", "#{qs.id}-#{qs.question.id}-#{ans.id}", checked: false %>
          <%= ans.description.html_safe %><br/>
        <% end %>
      </p>
      <%= button_tag 'Next',onclick: "next_question(#{index + 1}); return false" %>
    </div>
  <% end %>
<% end %>

<% content_for :js do %>
    <%= javascript_include_tag 'custom_files/count_down' %>
<% end%>
