<section class="candidate activate">
  <h2>Candidate Activity</h2>
  <div class="candidate-view">
    <!-- Left Panel -->
    <div class="col-md-8 candidate-list left-panel">
      <h2>Candidate List</h2>
      <div class="tabulate-view">
        <table class="table table-striped scroll">
          <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Technology</th>
          </tr>
          </thead>
          <tbody>
          <% @candidates.each do |candidate| %>
            <tr>
              <td> <%= candidate.full_name %> </td>
              <td> <%= candidate.email %> </td>
              <td> <%= candidate.phone_no %> </td>
              <td> <%= UserSet.where(user_id: candidate.id).first.try(:technology).try(:name) %> </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Right Panel -->
    <div class="col-md-4 right-panel">
      <button class="btn btn-lg btn-primary btn-block existing-candidate" type="submit">Existing Candidate</button>
      <div class="input-group exiting-email-input display-none">
        <%= form_tag resend_invitation_path, class: 'form-signin' do %>
          <%= text_field 'email',nil, autofocus: true, class: "form-control", placeholder: "Email ", required: true %>
          <button  class="input-group-addon glyphicon glyphicon-log-in" type="submit"></>
        <% end %>
      </div>
      <button class="btn btn-lg btn-primary new-user btn-block" type="submit">New Candidate Registration</button>

      <div class="new-candidate-registration display-none">
        <h2>Sending Invite</h2>
        <%= form_tag send_invitation_to_candidate_path, class: 'form-signin' do %>
            <!--<div class="form-group">-->
              <%= email_field 'email',nil, autofocus: true, class: "form-control", placeholder: "Email", required: true %>
            <!--</div>-->
            <!--<div class="form-group">-->
              <%= text_field 'full_name',nil, autofocus: true, class: "form-control", placeholder: "Name", required: true %>
            <!--</div>-->
            <!--<div class="form-group">-->
              <%= text_field 'phone_no',nil, autofocus: true, class: "form-control", placeholder: "Contact Number", required: true %>
            <!--</div>-->
            <!--<div class="form-group">-->
              <%= select_tag 'technology_id',options_for_select(Technology.all.map {|t| [t.name, t.id]}), class: "form-control" %>
            <!--</div>-->
            <%= submit_tag 'Invite', class: "btn btn-lg send-invite btn-primary btn-block" %>
        <% end %>
        <!--<h2>Candidate List</h2>-->
        <!--<div class="form-group">-->
          <!--<input type="email" class="form-control" id="input_email" placeholder="Email">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" id="input_username" placeholder="Username">-->
        <!--</div>-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" id="input_contact" placeholder="Contact">-->
        <!--</div>-->
        <!--<select class="form-control">-->
          <!--<option>1</option>-->
          <!--<option>2</option>-->
          <!--<option>3</option>-->
          <!--<option>4</option>-->
          <!--<option>5</option>-->
        <!--</select>-->
        <!--<button class="btn btn-lg btn-primary send-invite btn-block" type="submit">Send Invitation</button>-->
      </div>
    </div>
  </div>
  </div>
</section>